.geolocationButton {
  cursor: pointer;
  text-underline: transparent;
  color: cornflowerblue;
  font-size: 12px;
  margin-top: 2px;
}

.geolocationButton:hover {
  color: cadetblue;
}

.formbox {
  margin-bottom: 0;
}
